requests
winotify
pyautogui
pywhatkit
psutil
selenium
google-genai
pydantic
webscout
lxml_html_clean
pyttsx3
pywin32
WMI
comtypes
pycaw
pyaudio
scipy
numpy
opencv-python
Pillow
beautifulsoup4
nltk
sumy
pygame
PyQt5